<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a>
        </div>
        <div class="center sliding">Cars</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div data-page="new" class="page">
    <!-- <div class="page-content"> -->
        <div class="content-block">
            <div id="medit" class="medit"></div>
            <div class="btn" onClick="getContent()">预览 Preview</div>
            <div class="btn" onClick="cancel()">清空 Cancel</div>
            <div id="res"></div>
        </div>
    <!-- </div> -->
</div>
