<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=yes, email=yes" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>我的App</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/stylesheets/framework7.material.min.css">
    <!-- <link rel="stylesheet" href="http://material.framework7.cn/dist/css/framework7.material.min.css"> -->
    <!-- Path to Framework7 color related styles, Material Theme -->
    <link rel="stylesheet" href="/stylesheets/framework7.material.colors.min.css">
    <link rel="stylesheet" href="/stylesheets/framework7-icons.css">
    <!-- 富文本 -->
    <!-- <link rel="stylesheet" href="stylesheets/medit.css"> -->
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/stylesheets/usage.css">
    <link rel="stylesheet" href="/stylesheets/my-app.css">
</head>

<body class="layout-white theme-teal">
    <!-- Views-->
    <div class="views">
        <!-- Your main view, should have "view-main" class-->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left sliding">
                        <a href="/" class="link back"><i class="icon icon-back"></i><span>返回</span></a>
                    </div>
                </div>
            </div>
            <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-fixed">
                <!-- Index Page-->
                <div data-page="index" class="page">
                    <div class="page-content pull-to-refresh-content">
                        <!-- 默认的下拉刷新层 -->
                        <div class="pull-to-refresh-layer">
                            <div class="preloader">
                                <span class="preloader-inner">
                                    <span class="preloader-inner-gap"></span>
                                    <span class="preloader-inner-left">
                                        <span class="preloader-inner-half-circle"></span>
                                    </span>
                                    <span class="preloader-inner-right">
                                        <span class="preloader-inner-half-circle"></span>
                                    </span>
                                </span>
                            </div>
                            <div class="pull-to-refresh-arrow"></div>
                        </div>
                        <div class="content-block">
                            <h1><%= topic.title %></h1>
                            <p>•作者:<%= topic.author %>&nbsp;•发布于:<%= create_date %></p>
                            <%- topic.content %>
                        </div>
                        <div class="content-block">
                            <textarea name="comment" placeholder="添加评论" id="comment"></textarea>
                            <a href="#" id="comment-btn" data-id="<%= topic._id %>">发表</a>
                        </div>
                        <div class="content-block" id="comments-lists">
                            <div class="list-block media-list">
                                <span>评论列表</span>
                                <ul>
                                    <li>
                                        <div class="list-content">
                                            <div class="list-info">
                                                <div class="author-info">
                                                    <img src="#" width="40" class="author-img">
                                                    <span class="author-name">薛将军</span>
                                                </div>
                                                <div class="user-action">
                                                    <a href="#" class="a-ups"><i class="material-icons">thumb_up</i></a>
                                                    <span class="ups">5</span>
                                                    <a href="#" class="a-replay"><i class="material-icons">reply</i></a>
                                                </div>
                                            </div>
                                            <div class="replay-content">微环境后付款事发后的健身卡疯狂的的回到家时后疯狂的还得靠是返回的康师傅花多少开放独守空房独守空房的首付款的上课丰厚的是开放花多少快解放后定时开机费花多少开放独守空房独守空房的是开放花多少房间看看的说法肯定是和方会计师的飞海口市金东方红独守空房海口市的地方</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/javascripts/framework7.min.js"></script>
    <!-- 富文本 -->
    <!-- <script type="text/javascript" src="javascripts/medit.js"></script> -->
    <!-- markdown -->
    <script type="text/javascript" src="/javascripts/markdown.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="/javascripts/public.js"></script>
    <script type="text/javascript" src="/javascripts/topic.js"></script>
</body>

</html>
