<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a>
        </div>
        <div class="center sliding">My App</div>
    </div>
</div>
<div data-page="topic" class="page">
    <div class="page-content">
        <div class="content-block">
            <h1>文章标题</h1>
            <p>作者</p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
        </div>
        <div class="content-block" id="comments">
            <textarea name="comment" placeholder="添加评论" id="comment"></textarea>
            <a href="/posts" class="comment-btn">发表</a>
        </div>
        <div class="content-block" id="comments-lists">
            <div class="list-block media-list">
                <span>评论列表</span>
                <ul>
                    <li>
                        <div class="list-content">
                        	<div class="list-info">
                        		<div class="author-info">
	                            	<img src="images/qq.jpg" width="40" class="author-img">
	                            	<span class="author-name">薛将军</span>
	                        	</div>
	                        	<div class="user-action">
	                            	<a href="#" class="a-ups">赞</a>
	                            	<span class="ups">+5</span>
	                            	<a href="#" class="a-replay">回复</a>
	                        	</div>
                        	</div>
                            <div class="replay-content">微环境后付款事发后的健身卡疯狂的的回到家时后疯狂的还得靠是返回的康师傅花多少开放独守空房独守空房的首付款的上课丰厚的是开放花多少快解放后定时开机费花多少开放独守空房独守空房的是开放花多少房间看看的说法肯定是和方会计师的飞海口市金东方红独守空房海口市的地方</div>
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                        	<div class="list-info">
                        		<div class="author-info">
	                            	<img src="images/qq.jpg" width="40" class="author-img">
	                            	<span class="author-name">薛将军</span>
	                        	</div>
	                        	<div class="user-action">
	                            	<a href="#" class="a-ups">赞</a>
	                            	<span class="ups">+5</span>
	                            	<a href="#" class="a-replay">回复</a>
	                        	</div>
                        	</div>
                            <div class="replay-content">微环境后付款事发后的健身卡疯狂的的回到家时后疯狂的还得靠是返回的康师傅花多少开放独守空房独守空房的首付款的上课丰厚的是开放花多少快解放后定时开机费花多少开放独守空房独守空房的是开放花多少房间看看的说法肯定是和方会计师的飞海口市金东方红独守空房海口市的地方</div>
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                        	<div class="list-info">
                        		<div class="author-info">
	                            	<img src="images/qq.jpg" width="40" class="author-img">
	                            	<span class="author-name">薛将军</span>
	                        	</div>
	                        	<div class="user-action">
	                            	<a href="#" class="a-ups">赞</a>
	                            	<span class="ups">+5</span>
	                            	<a href="#" class="a-replay">回复</a>
	                        	</div>
                        	</div>
                            <div class="replay-content">微环境后付款事发后的健身卡疯狂的的回到家时后疯狂的还得靠是返回的康师傅花多少开放独守空房独守空房的首付款的上课丰厚的是开放花多少快解放后定时开机费花多少开放独守空房独守空房的是开放花多少房间看看的说法肯定是和方会计师的飞海口市金东方红独守空房海口市的地方</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script id="tpl-car" type="text/template7">
    <p>Hello, my name is {{firstName}} {{lastName}}</p>
</script>
</div>
